.health-container {
    width: 100%;
    padding: 50px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .health-container {
      width: 40%;
      padding: 50px;
      gap: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  